aiofiles
beautifulsoup4
bs4
chromedriver_autoinstaller
cloudscraper
colorama
dnspython
flask
flask_restful
httpx
img2pdf
lk21
lxml
nest_asyncio
playwright
psutil
PyBypass
pymongo
pyrogram
python-dotenv
python-telegram-bot
requests
sapling-py
selenium
speedtest-cli
telegram
telegraph
tgcrypto
urllib3
waybackpy
yt_dlp